# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefile
!Makefile

# ignore binary data files
*.bin

# ignore output files
*.o

# ignore vscode folder
.vscode/*
